<%= form_for @entry do |f| %>
  <% if @errors %>
    <p>
      <%= @errors %>
    </p>
  <% end %>
  <p>
    <div>
      <%= f.label :title %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
  </p>
  <p>
    <div>
      <%= f.label :content %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
  </p>
  <p>
    <div>
      <%= f.submit %>
    </div>
  </p>
<% end %>
